.some-cool-font {
 	/*font-family: monospace;*/
 	/*src:url(SpaceMono-Regular-d0855b0c557b78ea0449762b25ccca018880f483e56ff9a69e7cbde1dc12fa3a.ttf);*/
}

 body {
  background-color: #152347;
  color: white;
   
}

.yellow-highlight{
	color: yellow;
}

.temporary-cool-font{
	font-family: monospace;
}